    


.DialogOverlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: #000000bf;
}

.DialogContent{
    min-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #E5E5E5;
    padding: 2rem;
    border-radius: 8px;
}

.IconButton{
    top: 0%;
    right: 0%;
    position: fixed;
    margin: 5px 5px 0 0;
    background-color: #E5E5E5;
}

.close{
    width: 16px;
}

.green{
    background-color: #00D222;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

.red {
    background-color: rgb(211, 69, 69);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
}

input {
      border-radius: 6px;
      border: 0;
      background-color: white;
      color: black;
      padding: 1rem;
}

.sendButton:disabled{
    cursor: not-allowed;
}

.loadingBtn{
    background-color: none;
    border: 1px solid black;
    color: black;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

.DialogDescription{
    min-width: 20rem;
}