.intro-box2{
    margin-top: 40px;
    padding-left: 46px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.message-title{
    padding-top: 1rem;
    font-size: 1.4rem;
}
.message-link a{
    color: #02911a;
    transition: 0.2s;
}
.message-link a:hover{
    color: #000ed2;
    cursor: pointer;
}

.message-link{
    font-size: 19px;
}
